@media (max-width: 1200px)
    .container
        max-width: 960px
    .slider
        width: 590px
    .swiper
        &-slide
            &__img
                height: 100%
                object-fit: cover  
    .card
        width: 230px
        height: 230px  
@media (max-width: 992px)   
    .container,
    .newsletter-wrapper
        max-width: 700px
    .newsletter
        padding-top: 92px
        padding-bottom: 93px   
    .logo
        width: 132px    
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
            margin-right: 73px
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            max-width: 673px
            margin-left: 14px
            margin-right: 13px 
            &__link
                font-size: 12px
                line-height: 15px 
    .search 
        &__input
            width: 340px 
    .hotel
        padding-bottom: 60px
        &-grid
            flex-direction: column
        &-right
            flex-direction: row
    .booking
        width: 340px
    .map
        width: 340px        
    .slider 
        width: 100%
        margin-bottom: 30px 
    .swiper
        &-slide
            &__img
                width: 100% 
    .reviews
        padding-bottom: 60px
        &__title
            margin-bottom: 50px
            font-style: normal
            font-weight: bold
            font-size: 30px
            line-height: 38px
        &-slider
            &__text
                width: 455px
            &__item
                max-width: 580px
                &::after, &::before
                    display: none
            &__button
                top: 50%        
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px     
    .card
        width: 339px
        height: 255px
        &__title
            width: 200px  
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 92%
    .navbar
        &__search, &-menu, &__user
            display: none    
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: $light
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color 
    .stars
        flex-basis: auto            
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px    
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0 
    .slider
        height: 450px
        margin-bottom: 20px 
    .hotel
        &-right
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        padding-top: 76px
        &-wrapper
            max-width: 576px
            width: 92%
            flex-direction: column  
            align-items: flex-start
        &-title
            margin-bottom: 20px
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
            &__text
                width: 455px
            &__button
                top: 30px
                &--prev
                    left: 50%
                    margin-left: -90px
                    transform: translate(-50%, 0)
                &--next
                    right: 50%
                    transform: translate(50%, 0)
                    margin-right: -90px
    .activities
        padding-top: 40px
        padding-bottom: 70px                
    .card
        width: 48%
        height: 255px              
@media (max-width: 576px)
    .container
        width: 92% 
    .hotel
        padding-top: 0
        padding-bottom: 40px
    .logo
        width: 99px   
    .navbar
        &-top
            height: 70px
    .slider
        height: 250px 
    .newsletter
        padding: 76px 0 83px 0
        &__title
            margin-bottom: 37px    
    .subscribe
        width: 100%  
    .reviews
        padding-top: 46px 
        &-slider
            &__item
                width: 100%
                height: 438px
            &__text
                width: 100%
                height: 100%    
    .card
        width: 100%                  
@media (max-width: 320px)
    .container,
    .newsletter-wrapper
        max-width: 280px
    .hotel
        padding-bottom: 20px
        &-right
            justify-content: space-evenly
        &-info
            padding-bottom: 38px 
    .newsletter
        width: 320px
        height: 319px
        &-title
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
            &__strong
                font-style: normal
                font-weight: 600
                font-size: 30px
                line-height: 38px
    .subscribe
        width: 280px           
    .stars 
        margin-right: 13px
    .slider
        height: 179px
        margin-bottom: 0
    .swiper
        &-button
            width: 11px
            height: 11px
            padding: 2px 3px
            &--prev
                left: 6px
            &--next
                right: 6px    
    .booking
        height: 210px 
    .map
        height: 179px
    .reviews
        padding-top: 40px
        padding-bottom: 50px
        &-slider
            &__profile
                margin-bottom: 33px
            &__username
                margin-top: 9px
                margin-bottom: 10px
            &__avatar
                margin-bottom: 0
            &__item
                width: 281px
                padding-bottom: 36px
            &__text
                text-align: left    
        &__title
            padding-left: 20px
            padding-right: 20px
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            margin-bottom: 42px  
    .activities
        &__title
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px
    .card
        &__two
            order: 1
        &__four
            order: 1
        &__three
            margin: 0
            margin-bottom: 28px       
                                     



    